.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
  .container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    .home-info {
      flex: 0 0 60%;
      max-width: 60%;
      .hello {
        font-size: 1.75rem;
        margin: 15px 0;
        span {
          font-family: var(--secondary-font);
          font-size: 1.875rem;
          font-weight: 700;
          color: var(--skin-color);
        }
      }
      .my-profession {
        font-size: 1.875rem;
        margin: 15px 0;
        .typing {
          color: var(--skin-color);
        }
      }
      p {
        margin-bottom: 70px;
        font-size: 1.25rem;
        color: var(--text-black-700);
      }
    }
    .home-img {
      flex: 0 0 40%;
      max-width: 40%;
      text-align: center;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        height: 80px;
        width: 80px;
        border-top: 10px solid var(--skin-color);
        border-left: 10px solid var(--skin-color);
        left: -20px;
        top: -40px;
      }
      &:after {
        content: "";
        position: absolute;
        height: 80px;
        width: 80px;
        border-bottom: 10px solid var(--skin-color);
        border-right: 10px solid var(--skin-color);
        right: 20px;
        bottom: -40px;
      }
      img {
        width: 70%;
        height: 400px;
        margin: auto;
        border-radius: 5px;
      }
    }
  }
}
